$backgroundColor: #f5f6fa;
$primaryColor: #182C61;
$buttonColor: #44bd32;
$buttonHoverColor: #4cd137;
$font-Family: Roboto, sans-serif;
$containerMax-width: 1024px;
$containerPadding: 16px 0;
$menuItemMargin: 24px;
$product-item-margin: 40px;
$product-button-padding: 8px 0;
$product-button-border-radius: 8px;
$product-button-hover-color: #4cd137;